@import url("http://fonts.cdnfonts.com/css/wonder-boy-in-monster-world");
* {
  font-family: "Wonder Boy In Monster World", sans-serif;
}
.game {
  width: 600px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("dinosaur1.png");
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 40px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("cactus.png");
  background-size: 40px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

.texty {
  text-align: center;
}

.imgs {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
